<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Assignment</title>
    <style>

    /* styles here */

    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>Form</h1>
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputUserID" class="form-label">User ID</label>
              <input type="email" class="form-control" name="user_id" id="inputUserID" placeholder="User ID">
            </div>
            <div class="col-6">
              <label for="inputImage" class="form-label">Image</label>
              <input type="text" class="form-control" name="image" id="inputImage" placeholder="Image url">
            </div>
            <div class="col-6">
                <label for="inputDescription" class="form-label">Description</label>
                <textarea class="form-control" name="description" v-model="description" placeholder="Description"></textarea>
            </div>
            <div class="col-6">
                <label for="inputKeywords" class="form-label">Keywords</label>
                <textarea class="form-control" name="keywords" v-model="keywords" placeholder="Keywords"></textarea>
            </div>
            <div class="col-md-6">
                <label for="inputLatitude" class="form-label">Latitude</label>
                <input type="text" class="form-control" name="lat" id="inputLatitude" placeholder="Latitude">
              </div>
            <div class="col-md-6">
                <label for="inputLongitude" class="form-label">Longitude</label>
                <input type="text" class="form-control" name="lon" id="inputLongitude" placeholder="Longitude">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>



        <ul>
            <li v-for="item in items">
              <span>{{item.id}}</span>
              <span>{{item.user_id}}</span>
              <span>{{item.keywords}}</span>
              <span>{{item.description}}</span>
              <span>{{item.image}}</span>
              <span>{{item.lat}}</span>
              <span>{{item.lon}}</span>
              <span>{{item.date_from}}</span>
              <button @click="deleteItem(item.id)">Delete</button>
            </li>

          </ul>

    </div>

<script type="module">

 const { createApp } = Vue
 
 //perma link here
 const url = window.location.href;
    const replacement = url.split('a').pop();
    const Params = replacement.split('?')[0];
    const urlAPI = "https://8000-thekiegit-frameworksand/";
    const result = urlAPI.concat(Params);


createApp({
    data() {
        return {
            item: {
                id: 1,
                user_id: '',
                keywords: '',
                description: '',
                image: '',
                lat: '',
                lon: '',
                date_from: '',
            },
            items: []
        }
    },
    created(){
        this.clearItem()
        this.getItems()
    },
    methods: {
        clearItem(){
            this.item = {...this.item, ...{
                user_id: '',
                keywords: '',
                description: '',
                image: '',
                lat: '',
                lon: '',
                id: Math.random(),
                date_from: Date()
            }}
        },
        getItems() {
            fetch(`${urlAPI}/items`, {
            method: 'GET',
            })
            .then(response => response.json())
            .then(data => this.items = data)
        .catch(err => console.error(err))
        },
        addItem(){
            fetch(`${urlAPI}/item`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(this.item),
            })
                .then(response => response.json())
                .then(json => console.log('createItems()', json))
                .then(this.clearItem)
                .then(this.getItems)
            .catch(err => console.error(err));
        } ,
        deleteItem(item_id){
            fetch(`${urlAPI}/item/${item_id}`, {
                method: 'DELETE',
            })
            .then(()=>this.getItems())
        .catch(err => console.error(err));
        }
    }
    }).mount('#app')

</script>
</body>
</html>
