<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Assignment</title>
    <style>

    /* styles here */

    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app" class="container">
            <form @submit.prevent="addItem">
                <input v-model="item.user_id" name="user_id" type="text" placeholder="User ID here">
                <input v-model="item.keywords" name="keywords" type="text" placeholder="Keywords here">
                <input v-model="item.description" name="description" type="text" placeholder="Description here">
                <input v-model="item.image" name="image" type="text" placeholder="Image here">
                <input v-model="item.lat" name="lat" type="text" placeholder="Lat here">
                <input v-model="item.lon" name="lon" type="text" placeholder="Lon here">
                <button>Submit</button>
            </form>
            <h2>List</h2>
        <ul>
            <li v-for="item in items">
              <span>{{item.id}}</span>
              <span>{{item.user_id}}</span>
              <span>{{item.keywords}}</span>
              <span>{{item.description}}</span>
              <span>{{item.image}}</span>
              <span>{{item.lat}}</span>
              <span>{{item.lon}}</span>
              <span>{{item.date_from}}</span>
              <span>{{item.date_to}}</span>
              <button @click="deleteItem(item.id)">Delete</button>
            </li>
          </ul>

    </div>

<script type="module">

 const { createApp } = Vue
 
 const DEFAULT_API = '/api/v1';  // default to current http(s)://currentHost:currentPort/api/v1'
 const urlParams = new URLSearchParams(window.location.search);
 const urlAPI = (urlParams.get('api') || DEFAULT_API).replace(/\/$/, '');  // Get api url (and remove trailing slash if present)


createApp({
    data() {
        return {
            item: {
                id: '',
                user_id: '',
                keywords: '',
                description: '',
                image: '',
                lat: '',
                lon: '',
                date_from: '',
                date_to:'',
            },
            items: []
        }
    },
    created(){
        this.clearItem()
        this.getItems()
    },
    methods: {
        clearItem(){
            this.item = {...this.item, ...{
                id: Math.random(),
                user_id: '',
                keywords: '',
                description: '',
                image: '',
                lat: '',
                lon: '',
                date_from: Date(),
                date_from: Date()
            }}
        },
        getItems() {
            fetch(`${urlAPI}/items`, {
            method: 'GET',
            })
            .then(response => response.json())
            .then(data => this.items = data)
        .catch(err => console.error(err))
        },
        addItem(){
            fetch(`${urlAPI}/item`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(this.item),
            })
                .then(response => response.json())
                .then(json => console.log('createItems()', json))
                .then(this.clearItem)
                .then(this.getItems)
            .catch(err => console.error(err));
        } ,
        deleteItem(item_id){
            fetch(`${urlAPI}/item/${item_id}`, {
                method: 'DELETE',
            })
            .then(()=>this.getItems())
        .catch(err => console.error(err));
        }
    }
    }).mount('#app')

</script>
</body>
</html>
